POSTGRES_PORT= Modified
POSTGRES_USER= Modified
POSTGRES_PASSWORD= Modified
POSTGRES_DB= Modified
PGADMIN_DEFAULT_EMAIL= Modified
PGADMIN_DEFAULT_PASSWORD= Modified
PGADMIN_PORT= Modified
APP_PORT= Modified
DATABASE_PORT= Modified
DATABASE_CLIENT= Modified
